version = 1

[[analyzers]]
name = "shell"
enabled = true

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"
  max_line_length = 119

[[transformers]]
name = "black"
enabled = true

[[transformers]]
name = "isort"
enabled = true
